body {
    font-family:Roboto;
    background-color: #D61A29;
    color: #A5FB91;
}

h1, h2 h3, h4, h5,h6 {
    font-family:"Grenze Gotisch";
    text-align:center;
    font-size:44pt;
}
h1 {
    text-align:center;
}

#hero {
    color: #B4627D;
    border: 2px solid#51594F;
    background-color: #F1E26C;
    text-align:center;
    padding:10px;
}

#hero img {
    width:400pt;
}
/* Gallery */

#gallery {
    border: 2px solid;
    color: #629CF2;
    text-align:center;
}

#gallery img {
    max-width:100%;
}
#gallery figure {

}
#review ul li:nth-child(even) {
    color:#BE34B9;
}